{% extends 'base.html' %}
{% load i18n %}

{% block content %}
{% if messages %}
	            {% for message in messages %}
	                <p {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %}> {{message}} </p>
	            {% endfor %}
	        {% endif %}
    <!-- Content -->
    <section>
        <header class="main">
            <h1>{{ object.title }}</h1>
        </header>

        <span class="image main">
            <img src="{{ object.thumbnail.url }}" alt="{{ object.title }}"/>
        </span>

        {{ object.content | safe }}

        {% if object.video %}
            <div >
                <video class="mx-auto" width="320" height="240" controls>
                    <source src="{{ object.video.url }}" type="video/mp4">
                    
                </video>
            </div>
        {% endif %}
        {% if object.video_link %}
            <a href="{{ object.video_link }}" class="button primary fit icon solid fa-video">{% translate 'Show Video' %}</a>
        {% endif %}

        {% if object.audio %}
        <audio controls>
            <source src="{{ object.audio.url }}" type="audio/ogg">
            
          </audio>
          
            
            <a href="{{ object.audio.url }}" class="button primary fit icon solid fa-download">{% translate 'Download Audio' %}</a>
        {% endif %}

    </section>
    <!-- /Content -->
{% endblock %}